rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // السماح برفع وتشغيل التسجيلات الصوتية والملفات الصوتية
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
